.container { 
    max-width: 500px; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /* margin-bottom: 20px; */
    
    background: rgb(192, 192, 192); 
    padding: 10px; 
    border-radius: 0px; 

/* ボタンの共通設計図（paddingなどはここに1回書くだけ！） */
    .btn {
        font-family: "MS UI Gothic", sans-serif;
        /* ↓縦並びにさせる効果 */
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid black;
        border-top: 1px solid white;
        border-left: 1px solid white;
        cursor: pointer;
        margin: 5px; /* ボタン同士がくっつかないように隙間を作る */
    }

.btn-green { background-color: #4CAF50; color: white; }

.body {
    /* ベースの背景色 */
    background-color: rgb(0, 0, 0); 
    
    /* 縦線と横線をグラデーションで作る */
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), /* 横線 */
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px); /* 縦線 */
    
    /* グリッドのサイズ（マスの大きさ） */
    background-size: 20px 20px; 
    
    margin: 0;
}