<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <meta charset="UTF-8">
    <title>編集履歴</title>
</head>

<body>
    <div class="container">
                <a href="{{ url_for('index') }}" class="btn btn-gray">← Return to Home</a>
    </div>
    <div class="container">
        <div class="window-title-bar">
            <a class="f1">Edit History</a>
        </div>
        <div class="container">
    <!-- ---------------------------------------------------- -->
            <details>
                <summary>0417</summary>
                    <ul>
                        <li>UI調整<br></li>
                        <li>historyの画像追加<br></li>
                    </ul>
            </details>
            <br>
    <!-- ---------------------------------------------------- -->
            <details>
                <summary>0415</summary>
                    <ul>
                        <li>レトロ風に変換<br></li>
                        <li>図書館のテキストメッセージ追加<br></li>
                        <li>UI調整<br></li>
                    </ul>
            </details>
                        <br>
    <!-- ---------------------------------------------------- -->
            <details>
                <summary>0413</summary>
                    <ul>
                        <li>アニメーション追加<br></li>
                        <li>ログイン機能追加<br></li>
                        <li>スタート画面追加<br></li>
                    </ul>
            </details>            <br>
    <!-- ---------------------------------------------------- -->
            <details>
                <summary>0412</summary>
                    <ul>
                        <li>3DCGのページの作成<br></li>
                    </ul>
            </details>            <br>
    <!-- ---------------------------------------------------- -->
            <details>
                <summary>0411</summary>
                    <ul>
                        <li>掲示板のページを作成<br></li>
                        <li>編集履歴のページを作成<br></li>
                    </ul>
            </details>
    <!-- ---------------------------------------------------- -->
        </div>
    </div>
    <div class="container">
        <div class="window-title-bar">
            <a class="f1">Reference</a>
        </div>
            <details>
                <summary>Reference sites</summary>
        <ul>
            <li>Apply a retro filter to the image<br>
                <a href="https://pixel-converter.ameniwa.com/" target="_blank">Sora's Pixel Converter - Retro Pixel Art Generator</a><br>
            </li>
            <!-- <li>ログイン機能の実装<br>
                <a href="https://www.youtube.com/watch?v=ZsHj8lXoQeE" target="_blank">【Python】Pygameでアニメーションを作る方法【初心者向け】</a><br>
            </li>
            <li>スタート画面の実装<br>
                <a href="https://www.youtube.com/watch?v=ZsHj8lXoQeE" target="_blank">【Python】Pygameでアニメーションを作る方法【初心者向け】</a><br>
            </li> -->
        </ul>
            </details>
    </div>
</body>

</html>