<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <meta charset="UTF-8">
    <title>編集履歴</title>
</head>

<body>
    <div class="container">
        <pre>
        <h1>編集履歴</h1>
        <p>
        <hr>
        0413
        <ul>
        <li>アニメーション追加<br></li>
        <li>ログイン機能追加<br></li>
        <li>スタート画面追加<br></li>
        </ul>
        <hr>
        0412
        3DCGのページを作成<br>
        <hr>
        0411
        掲示板のページを作成<br>
        編集履歴のページを作成</p>
        <hr>
        </pre>
    </div>
</body>

</html>