<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ギャラリー</title>
<link rel="stylesheet" href="../static/gyara.css">
    </head>
    <body>
        <div class ="continer">
            <h1>ギャラリー</h1>
            <p>制作練習の成果物。</p>
            <ol>
                <li><a href="#image1">一枚目</a></li>
                <li><a href="#image2">二枚目</a></li>
                <li><a href="#image3">三枚目</a></li>
            </ol>
            <hr>
    <div class="gallery-row">
        <div class="gallery-item">
                    <h2 id="image1">一枚目</h2>
                    <img src="../static/images/run2/1.png" alt="Image 1" class="gallery-image">
            </div>
                <div class="gallery-item">
                    <h2 id="image2">二枚目</h2>
                    <img src="../static/images/run2/2.png" alt="Image 2" class="gallery-image">
                </div>

                <div class="gallery-item">
                    <h2 id="image3">三枚目</h2>
                    <img src="../static/images/run2/3.png" alt="Image 3" class="gallery-image">
                </div>
                <div class="gallery-item">
                    <h2 id="image4">四枚目</h2>
                    <img src="../static/images/run2/4.png" alt="Image 4" class="gallery-image">
                </div>
                <div class="gallery-item">
                    <h2 id="image5">五枚目</h2>
                    <img src="../static/images/run2/5.png" alt="Image 5" class="gallery-image">
                </div>
                <div class="gallery-item">
                    <h2 id="image6">六枚目</h2>
                    <img src="../static/images/run2/6.png" alt="Image 6" class="gallery-image">
                </div>
                <div class="gallery-item">
                    <h2 id="image7">7枚目</h2>
                    <img src="../static/images/run2/7.png" alt="Image 7" class="gallery-image">
                </div>
            </div>
                    <img src="../static/images/run2/hr.png" alt="Image 7" class="gallery-image">
            <div class="gallery-row">
                    <img src="../static/images/run2/2-1.png" alt="Image 7" class="gallery-image">
                    <img src="../static/images/run2/2-2.png" alt="Image 7" class="gallery-image">
                    <img src="../static/images/run2/2-3.png" alt="Image 7" class="gallery-image">
            </div>
            <div class="gallery-row">
                    <img src="../static/images/run2/3-1.png" alt="Image 7" class="gallery-image">
                    <img src="../static/images/run2/3-2.png" alt="Image 7" class="gallery-image">
                    <img src="../static/images/run2/3-3.png" alt="Image 7" class="gallery-image">
            </div>
        </div>
    </body>
</html>