<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>practice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="window-title-bar"><a class="f1">practice</a> </div>
            

            <div class="container">
                    <a href="/" class="btn btn-gray">Return to Home</a>
            </div>
            <hr>
                    <a href="/cg" class="btn btn-gray f1">3DCG</a>
                    <a href="/il" class="btn btn-gray f1">illustration</a>
                                <p>A project created as part of my website-building practice</p>
                        </div>
                


            <!-- <a href="/gyara" class="btn_row btn-gray">ギャラリー</a> -->
        </div>
    </body>

</html>