<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>制作練習</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    </head>
    <body>
        <div class="container">
        <a href="/" class="btn btn-green">ホームに戻る</a>
        <h1>制作練習</h1>
        <p>サイト作る練習の成果物。</p>
        <a href="/cg" class="btn_row btn-green_light">3DCGのページ</a>
        <a href="/ship" class="btn_row btn-green_light">資格のページ</a>
        </div>
    </body>

</html>